@model Shopping.Kart.Models.DataClass.tbl_UserDetail

@{
    ViewData["Title"] = "MyCartLogin";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="loginhere">
        <div class="container">
            @*<div class="signup-content">*@
            <form method="POST" id="Registration-form" class="signup-form" asp-controller="Cart" asp-action="MYCartLogin">
                <h2 class="form-title">Login</h2>
                <div class="form-group">
                    <input type="text" class="form-input" asp-for="UserName" id="name" placeholder="Your Name" />
                </div>

                <div class="form-group">
                    <input type="password" class="form-input" asp-for="Password" id="password" placeholder="Password" />
                    <span toggle="#password" class="zmdi zmdi-eye-off field-icon toggle-password"></span>
                </div>


                <div class="form-group">
                    <input type="submit" id="submit" class="form-loginsubmit" value="Login" />
                </div>
            </form>
            <p class="loginhere">
                Have you create an account ? <a href="/Cart/MYCartRegistration" class="loginhere-link">Registration here</a>
            </p>
        </div>
        @*</div>*@
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
